* {
  box-sizing:border-box;
}

body {
  padding:$spacing-small;
  margin:0;
  font:{
    family:helvetica, arial;
    size:$spacing-small;
  }
  @media (min-width:$bp-medium) {
    padding:$spacing-large;
  }
}

h1 {
  margin:{
    top:0;
    bottom:$spacing-x-small;
  }
  @media (min-width:$bp-medium) {
    margin-bottom:$spacing-small;
  }
}

ul,
ol,
dl,
li {
  margin:0;
  padding:0;
}