// bower:scss
// endbower

body {
  padding:0;
  margin:0;
}


ul,
ol,
dl,
li {
  margin:0;
  padding:0;
}

ticker {
  display:block;

  li {
    background:#CCC;
    padding:10px 5px;
  }
}

.mouseover-test {
  background:#BADA55;
  color:#FFF;
}
