// bower:scss
// endbower

body {
  padding:0;
  margin:0;
  font-family:helvetica, arial;
}


ul,
ol,
dl,
li {
  margin:0;
  padding:0;
}

ticker {
  display:block;
  position:relative;
  height:120px;
  overflow-y:hidden;
  background:#CCC;

  ul {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:all 0.5s ease;
  }

  li {
    background:#CCC;
    padding:10.5px 5px;
  }
}

.move-up {
  top:-40px;
}

.move-up-cancel {
  transition:none;
  top:0;
}