<h1>angular-ticker</h1>

<div style="font-size:0.85em;">
  <p><small>dummy items for testing:</small></p>
  <ul>
    <li>non-ticker item A</li>
    <li>non-ticker item B</li>
    <li>non-ticker item C</li>
  </ul>
</div>

<p><small>simple example:</small></p>
<ul ticker>
  <li ng-repeat="item in myTickerItems" class="item-{{$index}}">
    <b>{{item.title}}</b> - {{item.copy}}
  </li>
</ul>

<div style="font-size:0.85em;">
  <p><small>dummy items for testing:</small></p>
  <ul>
    <li>non-ticker item D</li>
    <li>non-ticker item E</li>
    <li>non-ticker item F</li>
  </ul>
</div>

<p><small>custom timing of 3000:</small></p>
<ul ticker timing="3000">
  <li ng-repeat="item in myTickerItems">
    {{item.title}}
  </li>
</ul>

<ul ticker id="ticker-no-items">
  <li ng-repeat="item in asdf">
    {{item.title}}
  </li>
</ul>